.game-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.game-container-form {
    background-color: var(--first-color);
    border-radius: 10px;
    text-align: center;
    margin: 0 15%;
    box-shadow: 0px 0px 7px black;
    animation: pop-up 0.3s;
}

.game-container-form:nth-of-type(2) {
    display: flex;
    justify-content: center;
}

.game-container-form:nth-of-type(2) span {
    line-height: 40vh;
}

.game-container-form:nth-of-type(2) span:first-of-type {
    margin-right: 5vh;
}

.game-container-form:nth-of-type(2) span:last-of-type {
    margin-left: 5vh;
}

.game-container-form:first-of-type {
    margin-top: 0;
}

.game-container-form {
    margin-bottom: 1%;
}

.game-container-form:last-of-type {
    margin-bottom: 0;
}

.game-container-item-row {
    display: inline-block;
}

.game-container-item-cell {
    background-color: var(--third-color-darker);
    width: 10vh;
    height: 10vh;
    border-radius: 5px;
    margin: 20px 10px;
    cursor: pointer;
    transition: 150ms;
}

.game-container-item-cell:hover {
    background-color: var(--third-color);
    box-shadow: 0px 0px 7px black;
}

.game-container-form span:nth-of-type(2) {
    font-family: var(--font-family-default);
    font-size: var(--font-size-extra-large);
    margin: 0 10%;
}

.game-container-item {
    margin: 2% 0;
}

.game-container-item * {
    font-size: var(--font-size-default);
}

.game-container-item-title {
    font-family: var(--font-family-default);
    font-size: var(--font-size-extra-large);
}

.game-container-item-text {
    font-size: var(--font-size-large);
}

.game-container-item-text-button {
    font-family: var(--font-family-default);
}

.game-container-item-text-points {
    font-family: var(--font-family-default);
    font-size: var(--font-size-extra-large);
}

.game-container-form:last-of-type Button:first-of-type {
    margin-left: 0;
}

.game-container-form:last-of-type Button {
    margin-left: 2%;
    margin-right: 2%;
}

.game-container-form:last-of-type Button:last-of-type {
    margin-right: 0;
}
