.menu-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.menu-container-form {
    background-color: var(--first-color);
    border-radius: 10px;
    text-align: center;
    margin: 0 25%;
    box-shadow: 0px 0px 7px black;
    animation: pop-up 0.3s;
}

.menu-container-item {
    margin: 2% 0;
}

.menu-container-item * {
    margin: 0.5% 0;
    font-size: var(--font-size-default);
}

.menu-container-item-title {
    font-family: var(--font-family-default);
    font-size: var(--font-size-extra-large);
}

.menu-container-item-text {
    font-family: var(--font-family-default);
}
