:root {
    --first-color: #179a47;
    --first-color-lighter: #41b46b;
    --first-color-darker: #085926;
    --second-color: #73d587;
    --third-color: #bef4c9;
    --third-color-darker: #a3d1ac;

    --font-family-light: "Calibri Light";
    --font-family-default: "Calibri";
    --font-size-extra-large: 38px;
    --font-size-large: 32px;
    --font-size-default: 26px;
    --font-size-small: 20px;

    background-image: url("../public/images/background-image-blured.png");
    background-size: stretch;
    animation: slide 30s linear infinite;
}

::selection {
    background-color: var(--first-color-darker);
    color: var(--third-color)
}

* {
    margin: 0;
    font-family: var(--font-family-light);
}

.unclickable {
    pointer-events: none;
    opacity: 0.75;
}

.cross {
    animation: draw-cross 0.3s forwards;
    background-size: contain;
}

.circle {
    animation: draw-circle 0.3s forwards;
    background-size: contain;
}

@keyframes draw-cross {
    from {
        background-image: url("../public/images/icons/cross1.png");
    }
    to {
        background-image: url("../public/images/icons/cross2.png");
    }
}

@keyframes draw-circle {
    from {
        background-image: url("../public/images/icons/circle1.png");
    }
    to {
        background-image: url("../public/images/icons/circle2.png");
    }
}

@keyframes pop-up {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes pop-down {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes slide {
    from { background-position: 0 0; }
    to { background-position: 0 1080px; }
}
