:root {
    --first-color: #26943c;
    --first-color-lighter: #41b458;
    --first-color-darker: #085918;
    --second-color: #73d579;
    --third-color: #bef4c5;
    --third-color-darker: #a4d1a9;

    --font-family-light: "Calibri Light";
    --font-family-default: "Calibri";
    --font-size-extra-large: 38px;
    --font-size-large: 32px;
    --font-size-default: 26px;
    --font-size-small: 20px;
}

::selection {
    background-color: var(--first-color-darker);
    color: var(--third-color)
}

* {
    margin: 0;
    font-family: var(--font-family-light);
}

@keyframes pop-up {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes pop-down {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes slide {
    from { background-position: 0 0; }
    to { background-position: 0 -2666%; } /* 626% - X */
}
